.sidebar {
  position: fixed;
  padding: 20px;
  height: 100%;
  width: 200px;
  top: 0;
  right: 0;
  background: linear-gradient(#595959, #3ebb75);
  opacity: 80%;
  animation: slideMe 0.7s ease-in;
}

@keyframes slideMe {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.closeMenu {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 12px;
}
.title {
  text-decoration: none;
  margin-top: 10px !important;
  color: #ffffff;
  display: block;
  cursor: 'pointer';
}
